<html>
    <head>
        <title>OpenFurry - A community of open source furry apps and devs</title>
        <link href="http://fonts.googleapis.com/css?family=Marcellus" rel="stylesheet" type="text/css" />
        <link href="/base.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>{{page.title}}</h1>
            </header>
            <article>
                {{content}}
            </article>
            <footer>
                OpenFurry - A community of open source furry apps and devs
            </footer>
        </div>
    </body>
</html>
